.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    font-size: 18px;
}

.pagination button.active {
    background-color: #ddd;
    color: blue;
}
